/*
Author: Justin Dreisow aka Aeon Eros
Creation Date: 17. Februar 2018
Website: freieliebe.one
*/


body {
    font-family:Arial, Sans-Serif;
    background:url(../img/background.jpg) center/cover no-repeat fixed;
}

.footer {
    padding-top: 12px;
    border-top: 1px solid #b41336;
    background-color: #161a22;
}

.EinloggenText2 {color:#9E9E9E; text-align: center;}
.EinloggenText2:hover {text-decoration-color: #fff; text-decoration-line: none;}


a {color:#fff; text-decoration:none;}
p {color:#fff;}
h1 {color:#fff;}
h1.welcome {color:#F0D52D;}
h1.title {color:#fff;}
hr.style1{border-top: 1px solid #DC143C; border-bottom: 1px solid #DC143C;}

a:hover {text-decoration:underline;}
.form{width: 300px; margin: 0 auto;}



    /* NAVBAR */ 

    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }




/** Push MSG nach login */
    #note {
        position: absolute;
        z-index: 6001;
        top: 0;
        left: 0;
        right: 0;
        background: #101219;
        text-align: center;
        line-height: 2.5;
        overflow: hidden; 
        -webkit-box-shadow: 0 0 5px black;
        -moz-box-shadow:    0 0 5px black;
        box-shadow:         0 0 5px black;
    }
    .cssanimations.csstransforms #note {
        -webkit-transform: translateY(-70px);
        -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
        -moz-transform:    translateY(-50px);
        -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
    }

    .cssanimations.csstransforms #close {
      display: none;
    }
    
    @-webkit-keyframes slideDown {
        0%, 100% { -webkit-transform: translateY(-70px); }
        10%, 90% { -webkit-transform: translateY(0px); }
    }
    @-moz-keyframes slideDown {
        0%, 100% { -moz-transform: translateY(-70px); }
        10%, 90% { -moz-transform: translateY(0px); }
    }



/** Responsive Bootstrap Tabs für REGELN */
@mixin ellipsis(){
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    width: 100%;
}

@mixin icon-styles(){
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin transform($transform){
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}




/**Demo Styles Tabs - Regeln */
.wrapper {
  padding: 10px 0;
}

.bs-example-tabs .nav-tabs {
  margin-bottom: 30px;
  border-bottom: 1px solid #b41336;
}

@media (max-width: 479px) {
  #narrow-browser-alert {
    display: none;
  }
}

.bs-example li a{
    background-color: transparent !important;
    color: #b41336 !important;
    margin-right: 0;
    border: 1px solid #b41336 !important;
    border-bottom: 1px solid #b41336;
    border-radius: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.bs-example a.regelntags{
    color: #F0D52 !important;
    font-size: 20px;
}

.bs-example li.active a {
    background-color: #b41336 !important;
    color: white !important;
    border: 1px solid #b41336 !important;
    border-radius: 0px;
}




