/*
Author: Justin Dreisow aka Aeon Eros
Creation Date: 17. Februar 2018
Website: freieliebe.one
*/

.footer {
    padding-top: 12px;
    border-top: 1px solid #b41336;
    background-color: #161a22;
}
.EinloggenText2 {color:#9E9E9E; text-align: center;}
.EinloggenText2:hover {text-decoration-color: #fff; text-decoration-line: none;}

body {
    font-family:Arial, Sans-Serif;
    background:url(../img/background.jpg) center/cover no-repeat fixed;
}

.clearfix:before, 
.clearfix:after { 
    content: ""; display: table; 
}
.clearfix:after { 
    clear: both; 
}
.EinloggenText {color:#e0e7ea; text-align: center;}
.form{width: 300px; margin: 0 auto; margin-top: 10%}

a {color:#0067ab; text-decoration:none; text-align: center;}
a:hover {text-decoration:none;}
p {color:#fff;}
h1 {color:#fff;}
h3 {text-align: center; color: #DC143C; font-size: 3pc;}
h5 {margin-bottom: 0px; text-align: center;}
hr.style1{border-top: 1px solid #DC143C; border-bottom: 1px solid #DC143C;}
img {width: 960px; height: 150px; align-items: center; margin-left: -110%;}


input[type='text'], 
input[type='email'], 
input[type='password'],
input[type='date'],
input[type='datetime-local'], 
input[type='month'], 
input[type='time'], 
input[type='week'] {
    width: 200px; 
    border-radius: 2px;
    border: 1px solid #CCC; 
    padding: 10px;
    color: #333; 
    font-size: 14px; 
    margin-top: 10px;
    
}




input[type='submit'] {
    padding: 10px 45px 8px; 
    color: #fff; 
    background-color: #101219 ; 
    text-shadow: rgba(0,0,0,0.24) 0 1px 0; 
    font-size: 16px; 
    box-shadow: rgba(255,255,255,0.) 0 2px 0 0 inset,#fff 0 1px 0 0; 
    border: 0.5px solid #DC143C ; 
    border-radius: 2px;
    margin-top: 10px;
    cursor:pointer;
    }

input[type='submit']:hover {background-color: #1A1D29;}





